Dsl/GeneratedCode/PracticaDERASchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="PracticaDERASchema" targetNamespace="http://schemas.microsoft.com/dsltools/PracticaDERA" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/dsltools/PracticaDERA" xmlns:core="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import id="CoreSchema" namespace="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" />
  <!-- DiagramaWeb -->
  <xsd:element name="diagramaWeb" type="DiagramaWeb" substitutionGroup="core:modelElement" />
  <xsd:complexType name="DiagramaWeb">
    <xsd:annotation>
      <xsd:documentation>The root in which all other elements are embedded. Appears as a diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: DiagramaWebTieneEntidad -->
          <xsd:element name="entidad" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of DiagramaWebTieneEntidad</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="diagramaWebTieneEntidad" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of DiagramaWebTieneEntidad needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: DiagramaWebTieneEstiloPortal -->
          <xsd:element name="estiloPortal" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of DiagramaWebTieneEstiloPortal</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="diagramaWebTieneEstiloPortal" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of DiagramaWebTieneEstiloPortal needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- dslVersion -->
        <xsd:attribute name="dslVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Version of the model serialized in this file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Titulo -->
        <xsd:attribute name="titulo" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DiagramaWeb Moniker -->
  <xsd:element name="exampleModelMoniker" type="ExampleModelMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ExampleModelMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for DiagramaWeb instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Entidad -->
  <xsd:element name="entidad" type="Entidad" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Entidad">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: EntidadTieneAtributo -->
          <xsd:element name="atributo" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of EntidadTieneAtributo</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="entidadTieneAtributo" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of EntidadTieneAtributo needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: Relacion -->
          <xsd:element name="destinoEntidad" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of Relacion</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="relacion" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of Relacion needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: EntidadTieneEstiloPagina -->
          <xsd:element name="estiloPagina" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of EntidadTieneEstiloPagina</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="entidadTieneEstiloPagina" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of EntidadTieneEstiloPagina needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Nombre -->
        <xsd:attribute name="nombre" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Entidad Moniker -->
  <xsd:element name="EntidadMoniker" type="EntidadMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EntidadMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Entidad instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Atributo -->
  <xsd:element name="atributo" type="Atributo" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Atributo">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: AtributoTieneEstiloCampo -->
          <xsd:element name="estiloCampo" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of AtributoTieneEstiloCampo</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="atributoTieneEstiloCampo" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of AtributoTieneEstiloCampo needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Nombre -->
        <xsd:attribute name="nombre" type="xsd:string" />
        <!-- Property: Tipo -->
        <xsd:attribute name="tipo" type="TipoDatoEnum" />
        <!-- Property: esClaveprimaria -->
        <xsd:attribute name="esClaveprimaria" type="xsd:boolean" >
          <xsd:annotation>
            <xsd:documentation>Description for UPM_IPS.JGAJPTJJLProyectoIPS.Atributo.Es Claveprimaria</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Atributo Moniker -->
  <xsd:element name="AtributoMoniker" type="AtributoMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AtributoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Atributo instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstiloPortal -->
  <xsd:element name="estiloPortal" type="EstiloPortal" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EstiloPortal">
    <xsd:annotation>
      <xsd:documentation>Description for UPM_IPS.JGAJPTJJLProyectoIPS.EstiloPortal</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Titulo -->
        <xsd:attribute name="titulo" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Description for UPM_IPS.JGAJPTJJLProyectoIPS.EstiloPortal.Titulo</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: ColorFondo -->
        <xsd:attribute name="colorFondo" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Description for UPM_IPS.JGAJPTJJLProyectoIPS.EstiloPortal.Color Fondo</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: ColorTitulo -->
        <xsd:attribute name="colorTitulo" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Description for UPM_IPS.JGAJPTJJLProyectoIPS.EstiloPortal.Color Titulo</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: TipoLetra -->
        <xsd:attribute name="tipoLetra" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Description for UPM_IPS.JGAJPTJJLProyectoIPS.EstiloPortal.Tipo Letra</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: TamanoLetra -->
        <xsd:attribute name="tamanoLetra" type="xsd:integer" >
          <xsd:annotation>
            <xsd:documentation>Description for UPM_IPS.JGAJPTJJLProyectoIPS.EstiloPortal.Tamano Letra</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Alineacion -->
        <xsd:attribute name="alineacion" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Description for UPM_IPS.JGAJPTJJLProyectoIPS.EstiloPortal.Alineacion</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstiloPortal Moniker -->
  <xsd:element name="estiloPortalMoniker" type="EstiloPortalMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EstiloPortalMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EstiloPortal instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstiloPagina -->
  <xsd:element name="estiloPagina" type="EstiloPagina" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EstiloPagina">
    <xsd:annotation>
      <xsd:documentation>Description for UPM_IPS.JGAJPTJJLProyectoIPS.EstiloPagina</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Color -->
        <xsd:attribute name="color" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Description for UPM_IPS.JGAJPTJJLProyectoIPS.EstiloPagina.Color</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: TipoLetra -->
        <xsd:attribute name="tipoLetra" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Description for UPM_IPS.JGAJPTJJLProyectoIPS.EstiloPagina.Tipo Letra</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: TamanoLetra -->
        <xsd:attribute name="tamanoLetra" type="xsd:integer" >
          <xsd:annotation>
            <xsd:documentation>Description for UPM_IPS.JGAJPTJJLProyectoIPS.EstiloPagina.Tamano Letra</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Alineacion -->
        <xsd:attribute name="alineacion" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Description for UPM_IPS.JGAJPTJJLProyectoIPS.EstiloPagina.Alineacion</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstiloPagina Moniker -->
  <xsd:element name="estiloPaginaMoniker" type="EstiloPaginaMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EstiloPaginaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EstiloPagina instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstiloCampo -->
  <xsd:element name="estiloCampo" type="EstiloCampo" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EstiloCampo">
    <xsd:annotation>
      <xsd:documentation>Description for UPM_IPS.JGAJPTJJLProyectoIPS.EstiloCampo</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Color -->
        <xsd:attribute name="color" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Description for UPM_IPS.JGAJPTJJLProyectoIPS.EstiloCampo.Color</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: TamanoLetra -->
        <xsd:attribute name="tamanoLetra" type="xsd:integer" >
          <xsd:annotation>
            <xsd:documentation>Description for UPM_IPS.JGAJPTJJLProyectoIPS.EstiloCampo.Tamano Letra</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: TipoLetra -->
        <xsd:attribute name="tipoLetra" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Description for UPM_IPS.JGAJPTJJLProyectoIPS.EstiloCampo.Tipo Letra</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: TipoCampo -->
        <xsd:attribute name="tipoCampo" type="TipoCampoEnum" >
          <xsd:annotation>
            <xsd:documentation>Description for UPM_IPS.JGAJPTJJLProyectoIPS.EstiloCampo.Tipo Campo</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstiloCampo Moniker -->
  <xsd:element name="estiloCampoMoniker" type="EstiloCampoMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EstiloCampoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EstiloCampo instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DiagramaWebTieneEntidad -->
  <xsd:element name="diagramaWebTieneEntidad" type="DiagramaWebTieneEntidad" substitutionGroup="core:modelElement" />
  <xsd:complexType name="DiagramaWebTieneEntidad">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Entidad -->
          <xsd:element ref="entidad" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DiagramaWebTieneEntidad Moniker -->
  <xsd:element name="DiagramaWebTieneEntidadMoniker" type="DiagramaWebTieneEntidadMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="DiagramaWebTieneEntidadMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for DiagramaWebTieneEntidad instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EntidadTieneAtributo -->
  <xsd:element name="entidadTieneAtributo" type="EntidadTieneAtributo" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EntidadTieneAtributo">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Atributo -->
          <xsd:element ref="atributo" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EntidadTieneAtributo Moniker -->
  <xsd:element name="EntidadTieneAtributoMoniker" type="EntidadTieneAtributoMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EntidadTieneAtributoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EntidadTieneAtributo instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Relacion -->
  <xsd:element name="relacion" type="Relacion" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Relacion">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Entidad -->
          <xsd:element ref="EntidadMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: NombreRelacion -->
        <xsd:attribute name="nombreRelacion" type="xsd:string" />
        <!-- Property: CardOrigen -->
        <xsd:attribute name="cardOrigen" type="xsd:string" />
        <!-- Property: CardDestino -->
        <xsd:attribute name="cardDestino" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Relacion Moniker -->
  <xsd:element name="RelacionMoniker" type="RelacionMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="RelacionMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Relacion instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DiagramaWebTieneEstiloPortal -->
  <xsd:element name="diagramaWebTieneEstiloPortal" type="DiagramaWebTieneEstiloPortal" substitutionGroup="core:modelElement" />
  <xsd:complexType name="DiagramaWebTieneEstiloPortal">
    <xsd:annotation>
      <xsd:documentation>Description for UPM_IPS.JGAJPTJJLProyectoIPS.DiagramaWebTieneEstiloPortal</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end EstiloPortal -->
          <xsd:element ref="estiloPortal" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DiagramaWebTieneEstiloPortal Moniker -->
  <xsd:element name="diagramaWebTieneEstiloPortalMoniker" type="DiagramaWebTieneEstiloPortalMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="DiagramaWebTieneEstiloPortalMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for DiagramaWebTieneEstiloPortal instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EntidadTieneEstiloPagina -->
  <xsd:element name="entidadTieneEstiloPagina" type="EntidadTieneEstiloPagina" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EntidadTieneEstiloPagina">
    <xsd:annotation>
      <xsd:documentation>Description for UPM_IPS.JGAJPTJJLProyectoIPS.EntidadTieneEstiloPagina</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end EstiloPagina -->
          <xsd:element ref="estiloPagina" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EntidadTieneEstiloPagina Moniker -->
  <xsd:element name="entidadTieneEstiloPaginaMoniker" type="EntidadTieneEstiloPaginaMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EntidadTieneEstiloPaginaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EntidadTieneEstiloPagina instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AtributoTieneEstiloCampo -->
  <xsd:element name="atributoTieneEstiloCampo" type="AtributoTieneEstiloCampo" substitutionGroup="core:modelElement" />
  <xsd:complexType name="AtributoTieneEstiloCampo">
    <xsd:annotation>
      <xsd:documentation>Description for UPM_IPS.JGAJPTJJLProyectoIPS.AtributoTieneEstiloCampo</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end EstiloCampo -->
          <xsd:element ref="estiloCampo" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AtributoTieneEstiloCampo Moniker -->
  <xsd:element name="atributoTieneEstiloCampoMoniker" type="AtributoTieneEstiloCampoMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AtributoTieneEstiloCampoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for AtributoTieneEstiloCampo instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Enum TipoDatoEnum -->
  <xsd:simpleType name="TipoDatoEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Entero"/>
      <xsd:enumeration value="Real"/>
      <xsd:enumeration value="Texto"/>
      <xsd:enumeration value="Fecha"/>
      <xsd:enumeration value="Booleano"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum TipoCampoEnum -->
  <xsd:simpleType name="TipoCampoEnum">
    <xsd:annotation>
      <xsd:documentation>Description for UPM_IPS.JGAJPTJJLProyectoIPS.TipoCampoEnum</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Texto">
        <xsd:annotation>
          <xsd:documentation>Description for UPM_IPS.JGAJPTJJLProyectoIPS.TipoCampoEnum.Texto</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Numero">
        <xsd:annotation>
          <xsd:documentation>Description for UPM_IPS.JGAJPTJJLProyectoIPS.TipoCampoEnum.Numero</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Fecha">
        <xsd:annotation>
          <xsd:documentation>Description for UPM_IPS.JGAJPTJJLProyectoIPS.TipoCampoEnum.Fecha</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Checkbox">
        <xsd:annotation>
          <xsd:documentation>Description for UPM_IPS.JGAJPTJJLProyectoIPS.TipoCampoEnum.Checkbox</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Radiobutton">
        <xsd:annotation>
          <xsd:documentation>Description for UPM_IPS.JGAJPTJJLProyectoIPS.TipoCampoEnum.Radiobutton</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  
</xsd:schema>

